<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/contacts?zeroDateTimeBehavior=convertToNull</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>

		<mapping class="com.neu.mymatchFinder.pojo.Userstable" />
		<mapping class="com.neu.mymatchFinder.pojo.UserAccount" />
		<mapping class="com.neu.mymatchFinder.pojo.Comments" />
		<mapping class="com.neu.mymatchFinder.pojo.Contacts" />
		<mapping class="com.neu.mymatchFinder.pojo.Messages" />
		<mapping class="com.neu.mymatchFinder.pojo.Notification" />
		<mapping class="com.neu.mymatchFinder.pojo.Posts" />
		<mapping class="com.neu.mymatchFinder.pojo.Category" />
		<mapping class="com.neu.mymatchFinder.pojo.Forum" />
	</session-factory>
</hibernate-configuration>
